//
//  Common
//  _____________________________________________
@font-family-name__base: 'Almarai';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__secondary: @font-family-name__base;

& when (@media-common = true) {
    html[lang="ar"] {
        direction: ltr;

        .header-content-row {
            .switcher-website {
                .view,
                .website {
                    &-ae,
                    &-sa {
                        span,
                        a {
                            &:before {
                                margin-left: 0;
                                margin-right: 8px;
                            }
                        }
                    }
                }
                strong,
                .actions.dropdown.options.switcher-options {
                    letter-spacing: 0;
                }
            }
        }

        .block-search {
            .block-title {
                strong {
                    letter-spacing: 0;
                }
            }
        }

        .header {
            &.links.Parent {
                a {
                    letter-spacing: 0;
                }
            }
        }

        .customer-name {
            .action.switch {
                display: none;
            }
        }

        .column {
            .product-info-main {
                .box-tocart {
                    .actions {
                        flex-direction: row-reverse;
                    }
                }
            }
        }

        .block-product-selection {
            .price-box {
                justify-content: start;
            }
        }

        .minicart-wrapper {
            .action.showcart {
                .not-empty {
                    width: 25px;
                }

                .counter.qty {
                    padding-left: 4px;
                }
            }

            .action.fme-quote-showcart {
                .counter.qty {
                    right: 0;
                    left: 38px;
                }
            }
        }

        .widget-product-grid {
            .slick-prev {
                &:before {
                    content: "\f102";
                }
            }
            .slick-next {
                &:before {
                    content: "\f103";
                }
            }

            .product-item-name {
                display: flex;
            }
        }

        .gm-style {
            .gm-style-iw-c {
                padding: 12px !important;
            }
        }

        .block-products-list {
            .products-grid {
                .slick-next,
                .slick-prev {
                    transform: translate(0, -45%);
                    background: none !important;
                }
            }
        }

        .page-products {
            .product-item {
                .product-item-wrapper {
                    direction: ltr;
                }
            }
        }

        .homepage-top-promo {
            span {
                letter-spacing: 0;
            }
        }

        .product-info-main {
            .swatch-attribute {
                .swatch-attribute-label {
                    &:before {
                        content: "اختر ";
                    }
                }
            }
        }

        input {
            &::-webkit-input-placeholder {
                line-height: 1.7;
            }
        }

        .ves-megamenu.help-menu {
            .navigation {
                .level0>a {
                    font-family: @font-family__base;
                    letter-spacing: 0;
                }
            }
        }


        .pages {
            .action {
                &.previous {
                    &:before {
                        content: "\e608";
                    }
                }

                &.next {
                    &:before {
                        content: "\e617";
                    }
                }
            }
        }

        .intl-tel-input {
            &.allow-dropdown {
                .flag-container {
                    left: 0;
                    right: auto;
                }

                input[type=text] {
                    padding-right: 6px;
                    padding-left: 52px;
                    direction: rtl;
                    text-align: left;
                }
            }

            .selected-flag {
                .iti-arrow {
                    right: 6px;
                }
            }
        }

        a[data-bind*="tel"] {
            direction: rtl;
            unicode-bidi: embed;
        }

        .block-wishlist {
            .product-item-info {
                width: inherit;
            }
        }

        .product-item .slider-list-wrapper.slick-slider .slick-arrow {
            &.slick-next {
                left: 10px;
                right: auto;
            }
            &.slick-prev {
                left: auto;
                right: 10px;
            }
        }

        .cms-help .page-title, .faq-question-view .page-title {
            letter-spacing: 0 !important;
        }

        .product-info-main .swatch-attribute.size .size-guide-trigger {
            font-family: @font-family__base !important;
        }

        .product-item-info {
            .swatch-count {
                text-align: left !important;
            }
        }

        .header-content-row .switcher-website .actions.dropdown.options.switcher-options {
            font-family: @font-family__base !important;
        }

        .footer .footer-links-collapsible li.parent>a:after {
            transform: rotate(-90deg);
        }

        .content-wrapper.view-store-content .info-shop-phone {
            direction: rtl;
        }

    }

    .header-wrapper-right {
        margin-left: 0;
        margin-right: auto;
    }

    .nav-toggle {
        right: 15px;
        left: auto;
    }

    .block-search {

        .action.search {
            right: @layout-indent__width;
            left: auto;
        }


        .close-minisearch {
            left: @layout-indent__width;
            right: auto;
        }
    }

    .footer {
        &.content {
            .block {
                &.newsletter {
                    .field {
                        margin-left: 0;
                        margin-right: 5px;

                        &.newsletter {
                            input[type="email"] {
                            }
                        }
                    }

                    .actions {
                        .action {
                            &.secondary {
                                margin-left: 0;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }

            .footer-links-collapsible {
                > li {
                    &.parent {
                        > a {
                            &.open {
                                &:after {
                                    -webkit-transform: rotate(180deg);
                                    -moz-transform: rotate(180deg);
                                    -ms-transform: rotate(180deg);
                                    -o-transform: rotate(180deg);
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product-info-main {
        text-align: left;
        .box-tocart {
            .actions {
                justify-content: flex-end;
            }
        }

        .swatch-attribute-selected-option {
            padding-right: 0;
        }

        [data-option-selected] {
            .swatch-attribute-selected-option {
                padding-left: 17px;
            }
        }

        .product-addto-links[data-role] {
            order: -1;
        }
    }

    .catalog-product-view {
        .breadcrumbs-items {
            text-align: left;
            font-family: @font-family__base !important;
            &:before {
                left: 0;
            }
        }
    }

    .block-product-selection {
        .block-title {
            text-align: left;
        }

        .slick-prev {
            &:before {
                content: "\f102";
            }
        }
        .slick-next {
            &:before {
                content: "\f103";
            }
        }

        .product {
            text-align: left;
        }

        .price-box {
            justify-content: end;
        }
    }
}

.hp-top-image-slider {
    .slick-dots {
        text-align: left !important;
    }
}
.hp-news-block {
    .news-side-image{
        &.image-left {
            img{
                left: 0 !important;
                right: auto !important;
            }
        }
        &.image-right {
            img{
                right: 0 !important;
                left: auto !important;
            }
        }
    }
}
[data-content-type='row'] {
    li.product-item {
        text-align: right !important;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html[lang="ar"] {
        .customer-welcome {
            .customer-menu {
                .header.links {
                    position: absolute;
                    z-index: 100;
                    background-color: #fff;
                    box-sizing: border-box;
                    list-style: none;
                }
            }
        }
    }
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-search {
        .label {
            right: 5rem;
            left: auto;
        }
    }
    .cart-container {
        .title-holder {
            span{
                float: right;
            }
        }
    }
    .footer.content {
        .footer-links-collapsible {
            > li {
                > a {
                    &:after {
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    .customer-name,
    .customer-welcome+.authorization-link {
        display: none;
    }
    .sections.nav-sections {
        .ves-megamenu.help-menu {
            .switcher {
                .switcher-trigger {
                    strong {
                        &:before {
                            width: 21px;
                            height: 15px;
                            background-size: cover;
                            display: block;
                            position: relative;
                            right: -80px;
                            content: '';
                        }
                    }
                }
            }
        }
    }
}
