//
//  Beside custom theme variables
//  _____________________________________________

@font-family-name__base: 'Almarai';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__secondary: @font-family-name__base;
@sidebar__background-color: @color-white-smoke;
