<?php $wishlistHelper = $this->helper(\FME\GuestWishList\Helper\Data::class);?>
<?php if(!$block->isLoggedIn()): ?>



    <?php
        if (!$block->isLoggedIn()) : ?>
            <div class="block block-wishlist" data-bind="scope: 'popup'">
                <div class="block-content">
                    <!-- ko if: popup().counter -->
                    <ol class="product-items no-display" style="display: inline-flex;" id="wishlist-sidebar" data-bind="foreach: popup().items, css: {'no-display': null}">
                        <li class="item product product-item">
                            <div class="product-item-info">
                                <a class="product-item-photo" data-bind="attr: { href: product_url, title: product_name }">
                                    <!-- ko template: {name: $data.image.template, data: $data.image} -->
                                    <!-- /ko -->
                                </a>
                                <div class="product-item-details">
                                    <strong class="product-item-name">
                                        <a data-bind="attr: { href: product_url }" class="product-item-link">
                                            <span data-bind="html: product_name"></span>
                                        </a>
                                    </strong>
                                    <div data-bind="html: product_price"></div>
                                    <div class="product-item-actions" style="display: none">
                                        <!-- ko if: product_is_saleable_and_visible -->
                                        <div class="actions-primary" >
                                            <!-- ko if: product_has_required_options -->
                                            <a href="#"  data-bind="attr: {'id':product_addtocart_id}"  class="action tocart primary"><span><?=$block->escapeHtml(__('Add to Cart'))?></span></a>
                                            <!-- /ko -->
                                            <!-- ko ifnot: product_has_required_options -->
                                            <button type="button" class="action tocart primary"  data-bind="attr: {'id':product_addtocart_id}" ><span><?=$block->escapeHtml(__('Add to Cart'))?></span></button>
                                            <!-- /ko -->
                                            <div data-bind="html: product_addtocart_script"></div>
                                        </div>
                                        <!-- /ko -->
                                        <div class="actions-secondary">
                                            <a href="#" data-bind="attr: {'id':product_remove_id}" >
                                                <span><?=$block->escapeHtml(__('Remove'))?></span>
                                            </a>
                                            <div data-bind="html: product_remove_script"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <!-- /ko -->
                    <!-- ko ifnot: popup().counter -->
                    <div class="empty">
                        <div class="bag border-left">
                            <div class="bag__items-wrapper empty-message">

                                <span class="h1 d-block pb-2" style="margin-bottom: 20px;"><?=$block->escapeHtml(__('Your wishlist is empty'))?></span>
                                <?=$block->escapeHtml(__('Add new favourites to return to later'))?>

                            </div>
                            <div class="bag__summary pt-5 pb-4">
                                <span class="bag-summary__count">
                                    0 <?=$block->escapeHtml(__('items'))?>
                                </span>
                            </div>
                            <div class="bag__actions">
                                <div>
                                <a class="action create primary" href="https://www.scotch-soda.com/gb/en/wishlist" title="My wish list"><?=$block->escapeHtml(__('My wish list'))?></a>
                                </div>

                                <div>
                                <p class="mb-5"><?=$block->escapeHtml(__('Your wish list is cleared after 30 days.'))?>
                                    <br/>
                                <?=$block->escapeHtml(__('Unless you sign up of course.'))?></p>
                                </div>

                                <div style="margin-bottom: 15px;">
                                <a class="action create primary" href="https://www.scotch-soda.com/gb/en/register" title="Sign up"><?=$block->escapeHtml(__('Sign up'))?></a>
                                </div>

                                <div>
                                <a class="action create primary" href="https://www.scotch-soda.com/gb/en/account" title="Log in"><?=$block->escapeHtml(__('Log in'))?></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>

        <?php endif; ?>


<?php endif; ?>
