/**
 * Copyright © 2021 Redbox Digital Limited. All rights reserved.
 * Beside
 */

//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .modal-popup {
        .block-wishlist {
            .product-item-actions {
                width: 100%;
            }

            .tocart {
                background-color: white;
                color: black;
                font-size: 1.4rem;
                text-transform: uppercase;
                padding: 10px 50px;
                box-sizing: border-box;
                line-height: 1.6rem;
                width: 100%;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }

            .actions-secondary {
                justify-self: end;
                position: relative;
                a {
                    font-family: @font-family__second;
                    text-transform: uppercase;
                    float: right;
                    position: relative;
                    padding-left: 30px;
                    font-size: 12px;
                    font-weight: 700;
                    &:before {
                        content: '\e616';
                        font-family: 'icons-blank-theme';
                        font-size: 26px;
                        line-height: 26px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .product-item {
                padding: 10px 13px;
                &:first-child {
                    padding-left: 0;
                }
            }

            .price-box {
                .price-label {
                    display: none;
                }
            }
        }
    }
}
