@font-face {

    font-family: 'Aktiv Grotesk';

    src: url('aktivgrotesk-regular-webfont.woff2') format('woff2'),

         url('aktivgrotesk-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'aktiv_grotesk_exbold';

    src: url('aktiv_grotesk_ex_bold-webfont.woff2') format('woff2'),

    url('aktiv_grotesk_ex_bold-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'aktivgrotesk-black-bold';

    src: url('aktivgrotesk-black-webfont.woff2') format('woff2'),

    url('aktivgrotesk-black-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'roxborough-cf-thin';

    src: url('roxborough-cf-thin.woff2') format('woff2'),

    url('roxborough-cf-thin.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'almarairegular';

    src: url('almarai-regular-webfont.woff2') format('woff2'),

    url('almarai-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

#secondary h1, .h1, .primary-content h1, h1 {

    font-family: 'roxborough-cf-thin',Arial,times;

    font-weight: 500;

    line-height: 1.1;

    font-size: 43px;    color: #1d1d1d;

}

.d-block {

    display: block!important;

}

.block.block-wishlist{color: #1d1d1d;}



.bag__summary.pt-5.pb-4 {

    padding-top: 45px;

    padding-bottom: 30px;

    font-size: 18px;

    font-weight: bold;

}

p.mb-5 {

    padding: 20px 0 50px 0;

    line-height: 20px;

}



.bag__actions a.action.primary {

    display: inline-block;

    text-decoration: none;

    width: 270px;

    text-align: center;

}



.menus-conteneurs {clear: both; width: 100%; position: relative;}

.page-header { background: #dbc7ae;}

.header-content-row .header-content-column.column-second {width: 100%!important;}

.header-content-row .header-content-column.column-third {float: left; width: 20%; margin-top: -56px;}

.ves-megamenu .navigation .navigation > ul{text-align: center;}

.nav-sections {position: relative; background: #f0ede8!important;}

[data-content-type='row'][data-appearance='full-bleed'] {

    box-sizing: border-box;

    padding: 0!important;

}

.homepage-top-promo {background:#282828; color: #fff; font-size:12px; }

.homepage-top-promo .container{display:grid; grid-template-columns:215px 1fr auto; grid-template-rows:1fr; align-items:center}



.header-content-column.column-third .block-search .block-title {

    font-family: 'Aktiv Grotesk', Arial;

    background: url(../images/ico-monsearch.png) 10px 11px no-repeat;

    padding-left: 35px; margin-left: 5px; cursor: pointer;

}

.header-content-column.column-third .block-search .block-title.active {

    font-family: 'Aktiv Grotesk', Arial;

    background: #faf8f5 url(../images/ico-monsearch-over.png) 10px 50% no-repeat;

    padding-left: 35px;

    margin-left: 5px; cursor: pointer;

}



.header-content-column.column-third .block-search {margin-top: 0px;}

.block-search .block-content { margin: 0 15px;}

.minicart-wrapper {margin-left: 0px; width: 40px;}

.minicart-wrapper.fme-quote-cart-wrapper {margin-left: 5px; margin-right: 10px;}

.page-header .panel.wrapper {border-bottom: 0!important;}

.minicart-wrapper .action.fme-quote-showcart {padding:14px 4px!important ;}

.minicart-wrapper .action.fme-quote-showcart.actives-ftr { background: #faf8f5;}



.authorization-link  span{

    background: url(../images/ico-moncompt.png) no-repeat center 12px;

    width: 20px;

    height: 56px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.authorization-link-over  span{

    background: #faf8f5 url(../images/ico-moncompt-over.png) no-repeat center 50%;

    width: 20px;

    height: 56px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.new-wishlist-link  span{

    background: url(../images/new-wishlist-link.png) no-repeat center 50%;

    width: 26px;

    height: 53px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.new-wishlist-link-over  span{

    background: #faf8f5 url(../images/new-wishlist-link-over.png) no-repeat center 50%;

    width: 26px;

    height: 53px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.login-container .block-new-customer p { line-height: 20px; color: #1d1d1d;}

.login-container .block.block-new-customer { border-right: 2px solid #f0ede8;}



.block-search .block-content { background-color: #faf8f5!important; box-shadow: 0 4px 6px rgba(61, 62, 66, .05), 0 4px 25px rgba(75, 76, 83, .15);}



#loginpopups {width: 100%; position: absolute; top: 57px; z-index: 999;

    background-color: #faf8f5;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

}

#wishlistspopups {width: 100%; position: absolute; top: 50px; z-index: 999;

    background-color: #faf8f5;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

}



#loginpopups .login-container {margin: 0 auto!important;}

.login-container .block-new-customer, .login-container .block-customer-login { background-color: #faf8f5!important;}

.login-container .block .block-title {font-size: 26px!important; letter-spacing: 0px!important; color: #1D1D1D; font-family: 'aktiv_grotesk_exbold', Arial, Verdana, Tahoma!important;}



.action.primary {

    font-weight: 700!important;

    padding: 18px 50px!important;

    font-size: 16px!important;

    text-transform: none!important;}



.container-p-0 {background:#282828}

.int-p-0 {max-width:1380px; margin: 0 auto; position:relative}

.int-child {position: absolute; top:1px; right:0; color:#fff}

.int-child  .switcher-language .switcher-option a {color: #fff; font-size: 14px;}

.cms-home_ar .int-child  .switcher-language .switcher-option a {color: #fff; font-size: 14px;}

.page-header .switcher {margin-right: 0px!important;}

.usp-list{ margin-bottom:0; }

.usp-list li {

    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;

    font-weight: 400;

    line-height: 1.5;

    display: inline-block;

    line-height: 32px; list-style-type:none;

	margin-bottom:0;    letter-spacing: normal;

}

.usp-list li.firstly:after {

    content: "|";

    color: #fffefa;

    margin: 0 20px;

}



a.store-head {background:url(../images/bg-store-head.jpg) no-repeat left 50%; color: #fff!important; margin-right: 20px; font-weight: 400; font-size: 12px; padding-left: 20px; font-family: 'Aktiv Grotesk','Helvetica Neue',Helvetica,Arial,sans-serif!important; padding-top: 3px; text-transform: none;}

.page-header .switcher .options ul.dropdown {left:-5px;}



.login-container .fieldset>.field { margin: 0px 0px 25px 0px!important;}



.input-text {border-color: #1d1d1d!important; height: 50px!important;}





.header-content-row .column-third {line-height: normal;}

.login-container .block .login .actions-toolbar>.secondary .remind {text-decoration: none!important;}





.form.minisearch {

    max-width: 100%!important;

    margin: 0 20px;

}



.block-search input {

    border: 1px solid #1d1d1d!important;

    border-width: 0 0 2px 0!important;

    padding: 10px 0!important;

    outline: 0!important;

    font-size: 19px!important;
    font-weight: 400!important;
    font-family: 'aktiv_grotesk_exbold'!important;

    background: url(../images/ico-monsearch-over.png) left 15px no-repeat!important;

}
input[type="search"]::placeholder {
    font-size: 19px!important;
    font-weight: 400!important;
    font-family: 'aktiv_grotesk_exbold'!important; font-style: normal!important; color:#1d1d1d!important;
}
.block-search .block-content .field.search .actions { margin-right: 0; margin-left: -40px;}

.block-search input::placeholder, .block-search input:-ms-input-placeholder, .block-search input::-ms-input-placeholder { color: #7d7c7a;}

.fieldset.login ::-webkit-input-placeholder, .fieldset.login :-moz-placeholder, .fieldset.login ::-moz-placeholder, .fieldset.login :-ms-input-placeholder  { background: red!important;}

.block-search .block-content .field.search {width: 90%!important; padding: 30px 15px 24px 15px!important;}

.block-search .action.search:before {font-size: 40px; margin: 5px 0 0 0; display: none!important}



.block-search .action.search>span { height: 26px!important; margin: 0; overflow: hidden; padding: 0; position: relative!important; width: 23px!important; display: block!important; text-indent: -10000px!important;}

.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search { background: url(../images/ico-monsearch-over.png) 0px 50% no-repeat;}







.bag.border-left {

    border-left: 2px solid #f0ede8!important;

}.bag {

     position: static;

     float: right;

 }

.bag {

    width: 370px;

    padding: 0 50px;

}

.bag.misy-wish {

    width: 270px;

    padding: 0px 25px 0px 65px;

}

.bag {

    min-height: 450px;

}

.bag__items-wrapper.empty-message {

    padding-top: 160px;

}

.bag__items-wrapper.empty-message {

    text-align: center;

}

.bag__items-wrapper {

    position: absolute;

    left: 0;

    height: 100%;

    width: calc(100% - 390px);

    z-index: 999;

    margin: 0;

}

/*

.modal-popup .block-wishlist .product-item {

    padding: 0!important;

    width: 29%!important;

    margin-right: 3%!important;

    display: inline-block!important;

}

.modal-popup .block-wishlist .product-item:nth-child(3n)  {

    padding: 0!important;

    width: 29%!important;

    margin-right: 0%!important;

    display: inline-block!important;

}

*/

.modal-popup .block-wishlist .actions-secondary {

    position: absolute;

    top: 20px;

    z-index: 999;

    right: 10px;

}



.block-wishlist .product-item-name {

    margin-right: 0px;

    text-align: left;

}



.block-wishlist .product-item .price-box .price {

    font-weight: 700!important;

    color: #910012!important;

}

.misy-wish .product-item-info {width: 100%!important;}



.minicart-wrapper .action.showcart { height: 54px;}





/* .minicart-items .item.product.product-item {width: 31%; display: inline-block!important; margin-right: 3%;}

.minicart-items .item.product.product-item:nth-child(3n) {width: 31%; display: inline-block!important; margin-right: 0!important;}

.minicart-items .product-item {padding: 0!important;} */

.block-minicart .bag__items-wrapper.empty-message { padding-top: 0!important;}

.block-minicart .bag__items-wrapper.empty-message.scalls { padding-top: 160px!important;}

.block-minicart .bag {width: 265px; padding: 0px 37px; min-height: 500px;}

.block-minicart .product-image-container { margin-bottom: 10px;}

.minicart-items .product-item-details .price {color: #910012!important;}

.header-content-column .customer-welcome {display: none!important}

.minicart-wrapper .block-minicart {background: #faf8f5!important;}

.block-minicart .subtotal .label { display: none;}

.usp-list li a {color:#fff!important}

.block-minicart .block-content .minicart-footer { border-top: 0!important; padding: 0!important;}

.block-minicart .subtotal, .block-minicart .vat {display: inherit!important; text-align: right!important;}

.block-minicart .amount .price-wrapper:first-child .price {font-size: 18px!important; font-weight: 700; color: #1d1d1d;}

.block-minicart .bag-summary__count {font-size: 18px!important; font-weight: 700; color: #1d1d1d;}

.minicart-wrapper .action.showcart .counter.qty { top: 21px!important; left: 16px!important; font-size: 11px!important;}

.minicart-wrapper .action.showcart .counter.qty {font-weight: 700; font-size: 12px; }



.minicart-wrapper .action.showcart > span.text {

    background: url(../images/ico-monpanier.png);

    position: relative;

    width: 23px;

    height: 50px!important;

    background-position: 50% 40%;

    background-repeat: no-repeat;

    font-size: 0;

    position: absolute;

    left: 0;

    clip: auto;

    top: 0px!important;

    padding: 1px 10px;

}

.minicart-wrapper .action.showcart.active > span.text {

    background: #faf8f5 url(../images/ico-monpanier.png);

    position: relative;

    width: 23px;

    height: 56px!important;

    background-position: 50% 40%;

    background-repeat: no-repeat;

    font-size: 0;

    position: absolute;

    left: 0;

    clip: auto;

    top: 0px!important;

    padding: 1px 10px;

}

.minicart-items .product>.product-item-photo, .minicart-items .product>.product-image-container { width: 100%;}





.modal-slide._inner-scroll .modal-header, .modal-slide._inner-scroll .modal-footer {display: none!important;}

.modal-popup .modal-inner-wrap { width: 86%!important ;margin: 90px auto!important;}





.misy-wish .product-image-container .product-image-photo {width:100%!important}

.block-minicart .product-image-container .product-image-photo {width:100%!important}



.header-content-row .column-third>li.wishlist .counter {

    position: absolute;

    top: 22px!important;

    left: 28px!important;

    font-size: 11px;

    font-weight: bold!important;

    color: #fff!important;

}

.header-content-row .column-third>li.wishlist div {

    padding: 14px 0!important;

}

.header-content-row .column-third>li.wishlist div:before {font-size: 58px!important;}

.modals-overlay {background-color: transparent!important;}





.header-content-column.column-third li.link.wishlist {display: none;}





.modal-slide._show, .modal-popup._show {z-index: 999!important;}

.page-header .panel.wrapper .container-p-0 {z-index: 1000; position: relative;}

.submenu.dropdown-menu .item-content {text-align: left}



.search .amsearch-loupe {display:none!important}

.amasty-xsearch-block-header { font-size: 16px; font-family: 'aktiv_grotesk_exbold';  font-weight: 700;  padding: 20px 15px 0px 15px!important; clear: both!important; display: block!important;}

.amsearch-products .amasty-xsearch-block-header a { font-size: 16px; font-family: 'aktiv_grotesk_exbold'; font-weight: 700; margin-left: 40px; border-bottom: 2px solid #1d1d1d;}

.amsearch-item-footer { padding:0 0 15px 15px;}

.amsearch-item-footer  a.item-name {font-size: 14px!important; font-weight: 700; text-decoration: none!important;}



.switcher-website .actions.dropdown.options.switcher-options {font-family: 'Aktiv Grotesk'!important;}





.page-title-wrapper h1.page-title {text-align: center; font-family: 'aktiv_grotesk_exbold', arial;}





.switcher-website .view-ae span:before, .switcher-website .website-ae span:before, .switcher-website .view-sa span:before, .switcher-website .website-sa span:before, .switcher-website .view-ae a:before, .switcher-website .website-ae a:before, .switcher-website .view-sa a:before, .switcher-website .website-sa a:before {

   margin-left: 8px;

}



@media screen and (min-width:1421px){

    .minicart-wrapper {position: unset!important; }

    .minicart-wrapper .block-minicart {right: 0!important; width: 100%!important;}

    .minicart-wrapper .action.showcart {position: relative;}



}

@media screen and (max-width:1420px){

.minicart-wrapper {position: unset!important; }

.minicart-wrapper .block-minicart {right: 0!important; width: 100%!important;}

.minicart-wrapper .action.showcart {position: relative;}

}







@media screen and (min-width:981px) and (max-width:1200px){

    .menu-disover .submenu.dropdown-menu .submenu-inner .content-wrapper .item-content {width: 100%!important}

}



@media screen and (max-width:1199px){

    .block-search .block-title strong {display: none;}

}

@media screen and (max-width:1200px){

    .homepage-top-promo .container{grid-template-columns:auto 1fr auto}

    .homepage-top-promo {text-align: left; padding-left: 10%!important;}

    #loginpopups {left: 0;}



}



@media screen and (min-width:1025px) and (max-width:1199px){

    .block-search .block-content {margin: 0 0px;}

    .block-search .block-title { padding: 28px 20px!important;}

    .homepage-top-promo {text-align: left; padding-left: 0!important; }

}











@media screen and (max-width:1024px){

    .homepage-top-promo {padding-left: 0%!important;}

    .header-content-column.column-third .block-search .block-title {background: url(../images/ico-monsearch.png) 10px 0px no-repeat;}

    .minicart-wrapper .action.showcart .counter.qty {left: 18px!important;}



    .block-search .block-content {margin: 0 0px;}

}





@media screen and (min-width:992px) and (max-width:1199px){

    .homepage-top-promo {padding-left: 20px!important; }

}



@media screen and (min-width:992px) and (max-width:1019px){

    .header-content-column.column-third .block-search .block-title.active {

        background: #faf8f5 url(../images/ico-monsearch-over.png) 10px 13px no-repeat!important;

        margin-top: -10px!important;

        padding: 24px 20px!important;

    }

}

@media screen and (min-width:1020px) and (max-width:1024px){

    .header-content-column.column-third .block-search .block-title.active { padding-top: 40px;}

    .modal-popup .modal-inner-wrap {width: 100%!important; margin: 90px auto!important; }

    .bag {width: 236px; padding: 0 50px;}

}







@media screen and (max-width:991px){

    .homepage-top-promo .container{height:100%;grid-template-columns:1fr}

    .header-content-row .header-content-column.column-third {width: 23%;}

    .header-content-row .column-third { display: block; flex-direction: unset; align-items: unset; line-height: 1; }

    .int-child, .authorization-link { display: none; }

    .block-search { position: absolute; left: 0px; top: 10px; width: 100%; float: none;}

    .header-content-column.column-third .block-search {z-index: 10;}

    .minicart-wrapper {z-index: 20;     margin-left: 31px;}

    .header-content-column.column-third .block-search .block-title {background: url(../images/ico-monsearch.png)  10px 5px  no-repeat; }

    .header-content-column.column-third .block-search .block-title.active {background: url(../images/ico-monsearch-over-mobil.png) 10px 50% no-repeat; height: 23px; margin-top: -10px;}

    .modal-popup .modal-inner-wrap {width: 100%!important; margin: 87px auto!important;}



    .block-search .block-content {margin: 0px;}

    .modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer {padding-left: 0!important; padding-right: 0!important;}

    .bag {width: 100%; padding: 0px;}

    .block-minicart .bag {width: 100%; padding: 0;}

    .block-minicart .bag__items-wrapper.empty-message.scalls {padding-top: 0px!important; width: 100%; position: relative;}

    .block-minicart .bag { min-height: 300px;}

    .bag__items-wrapper {padding-top: 0px!important; width: 100%; position: relative;}

    .block-minicart .bag__items-wrapper {padding-top: 0px!important; width: 100%; position: relative;}

    .bag.border-left {border-left: 0px solid #f0ede8!important;}

    .bag__actions a.action.primary.disabled {width: 100%;}



    .block.block-wishlist .empty {padding: 0 20px;}

    .block.block-wishlist .empty .bag__actions a.action.primary {width: 100%}

    .block-wishlist .empty p.mb-5 br {display: none!important;}



    .minicart-wrapper .action.showcart .counter.qty { left: 18px!important; }

    .homepage-top-promo .container .usp-text{grid-column:1}

    .homepage-top-promo {text-align: center; padding-left: 0%!important; }

    .homepage-top-promo { height: 30px; overflow: hidden; }

    .nav-toggle {position: absolute!important;}

    .nav-toggle:before {color: #1d1d1d!important; margin:7px 0 5px 5px!important;}

    .block-search .block-title:before {margin-left: 7px!important;}

    .minicart-wrapper .action.showcart.active > span.text {left: 5px;}

    .logo img {position: relative;  z-index: 20;  }

}





@media screen and (min-width:768px) and (max-width:780px){

.block-search .block-content {margin-left: 0px;}

    .search-autocomplete {margin-left: 20px!important;}

    .login-container .block {padding: 0px 20px 50px 20px!important;}

}

@media screen and (min-width:768px) and (max-width:991px){

.minicart-wrapper.fme-quote-cart-wrapper {margin-right: 0px!important;}

    .minicart-wrapper.fme-quote-cart-wrapper {margin-right: 5px!important;}

    html[lang="ar"] .minicart-wrapper .action.showcart .counter.qty {padding-left: 8px!important;}

}



@media screen and (min-width:768px) and (max-width:780px){

    /* .nav-toggle {display: block!important; top: 0px!important; left: 10px!important;} */

    .block-search { position: absolute; left: 0px!important; top: 10px; width: 100%; float: none;}

}

@media screen and (min-width:768px) and (max-width:769px){

.block-search .block-content { margin-right: 0px!important;  padding: 0 20px;}
    .block-product-selection .slick-slide {
        margin-right: 20px;
    }


}



.switcher-website strong {font-size: 12px!important; font-family: 'almarairegular'!important;}

.switcher-website .view-ae span, .switcher-website .website-ae span, .switcher-website .view-sa span, .switcher-website .website-sa span, .switcher-website .view-ae a, .switcher-website .website-ae a, .switcher-website .view-sa a, .switcher-website .website-sa a {

    font-family: 'almarairegular'!important;

}



@media screen and (min-width:768px){

    .navigation .level1 > .submenu { display: block!important; position: relative!important; }

    .navigation .level2 .submenu { display: none!important;}

    .ves-megamenu .level0 .submenu .nav-item>a { line-height: 36px!important}

    .ves-megamenu.top-main-menu .navigation .level0 .submenu .mega-col>.nav-item.level1>a {  opacity: 1!important; color: #1d1d1d!important; font-size: 12px!important; font-family: 'aktiv_grotesk_exbold', arial!important;    }

    .ves-megamenu .navigation .level0 .submenu .submenu-inner .content-wrapper {padding: 35px 0px; }

    .ves-megamenu .navigation .level0 .submenu .submenu-inner .content-wrapper .content-wrapper {padding: 0px; }

    .ves-megamenu.top-main-menu .navigation .level0.active  {background:#ffffff;  }

    .ves-megamenu.top-main-menu .navigation .level0:hover  {background:#ffffff;  }

    .ves-megamenu.top-main-menu .navigation .nav-item.level0.subhover>.submenu {box-shadow: -10px 5px 7px -6px rgb(0 0 0 / 15%)!important; }

    .navigation .level0 .submenu { min-width: 200px!important;}

    .kids-twin .item-sidebar.right-sidebar p img {float: left!important; width: 45%!important; margin-left: 5%!important;}

    .for-mobiles { display:none!important;}

    .amsearch-form-container.-large .amsearch-wrapper-content .price {font-size: 14px!important; font-weight: bold!important;}

    .amsearch-form-container.-opened:not(.-small) .amsearch-products { }

    .ves-megamenu.top-main-menu .navigation .nav-item.level1.subhover>.submenu {background-color: transparent;}
	.page-bottom .related {display: none}
}



.for-mobiles { text-align: left!important }

.for-mobiles > a.nav-anchor { border: 0!important; margin-left: 20px!important; }

.for-mobiles > a.nav-anchor .item-icon.icon-left { margin-right: 10px!important; }

.account-main-column .block.block-wishlist {display: none;}



@media screen and (max-width:768px){

.block-search { width: 100%;}

.block-search .block-content {margin:0px;}

.minicart-wrapper .action.showcart > span.text {top: 1px!important;}

.block-search .block-content .field.search {width: 100%!important; padding: 30px 0px 24px 0px!important;}

.form.minisearch {  margin: 0 auto;}

.header-content-row .header-content-column.column-third {margin-top: -56px!important;}



.block-search { position: absolute; top: 10px; width: 100%; float: none;}

.block-search .block-content {margin-left: 0px!important; margin-right: 0px!important;}

.logo img {position: relative;  z-index: 20;  }

.usp-list li.firstly:after {content: ""; display: none;}

.container-usp-list.jbhSlider {margin: 0 auto;}

.minicart-wrapper .action.fme-quote-showcart .counter.qty {left: 6px!important;}

.ves-megamenu.top-main-menu.nav-mobile.ves-mdrilldown .navigation .drilldown-back { padding: 62px 0 0 0; background: #dbc7ae; }

.ves-megamenu.top-main-menu.nav-mobile.ves-mdrilldown .navigation .drilldown-back a .current-cat {font-family: 'aktiv_grotesk_exbold'; float: none!important;}

.view-alls { position: absolute; top: 18px; left: 40px; text-transform: none; font-size: 14px; color: #1d1d1d; font-family: 'Aktiv Grotesk';}

html.nav-open .header-content-row .column-second .nav-toggle:before { position: fixed!important; top: -7px!important; left: calc(100% - 113px)!important; background: transparent!important;}



}

.modals-overlay {

top: 90px !important;

}

@media screen and (max-width:767px){

.header .header-content-row {display: block!important; align-items: center;}

.block-search {opacity: 1!important; position: absolute!important; left: -55px!important; top: 21px!important; width: 100%!important; z-index:1!important;}



.block-search .block-content {top: 35px; margin:0; }

.logo img {margin: 10px auto; max-width: 50%;}



.nav-open .nav-toggle:after {display: none!important;}

.navigation a, .navigation a:hover {border-bottom: 2px solid #f0ede8!important;}



.ves-megamenu ul.ui-menu.ui-widget.ui-widget-content.ui-corner-all {

        padding: 48px 0 0 0;

        background: url(../images/top-menu-mobil.jpg) center top no-repeat;

    }

.navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon), .navigation .level0.has-active > a:not(.ui-state-active) span:not(.ui-menu-icon) {

     margin-left: 0px!important;

}



.ves-megamenu.top-main-menu.nav-mobile.ves-mdrilldown .navigation .level0 span.drill-opener:before {

    height: 8px;

    width: 8px;

    top: 20px;

    right: 20px;

    border: 0;

    border-top: 2px solid #000000;

    border-right: 2px solid #000000;

    transform: rotate(45deg);

    background: transparent;

    content: '';

    display: block;

    position: absolute;

}

.ves-megamenu .nav-item.active > a {

    background: unset!important;

    color: unset!important;

}



     .ves-megamenu .item-sidebar.right-sidebar { clear: both; text-align: center; padding-top: 20px; }

.product.media .related {display: none}

}







.homepage-top-promo .container .topbar-menu,.homepage-top-promo .container .usp-text{grid-row:1}

.homepage-top-promo .container .usp-text{text-align:center;grid-column:2; }



.homepage-top-promo .container .usp-text .customergroup-header{display:none}

.homepage-top-promo .container .usp-text .usp-list{margin:0; padding: 0;}

.homepage-top-promo .container .usp-text .usp-list li{display:inline-block; margin-bottom:0!important; letter-spacing: initial; line-height: 30px; font-family: 'Aktiv Grotesk', Arial, Helvetica, sans-serif;}

.homepage-top-promo .container .usp-text .usp-list li a{}

.homepage-top-promo .container .usp-text .usp-list li:after{content:"|";color:#fffefa;margin:0 20px}



.sucess-chimps {font-size: 26px; font-family: 'aktiv_grotesk_exbold'; padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-success.jpg) center top no-repeat; }

.error-chimps { padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-error.jpg) center top no-repeat; }

.error-chimps a {text-decoration: underline }



@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li:after{display:none}}

.homepage-top-promo .container .usp-text .usp-list li:last-of-type:after{display:none}

@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li{display:none}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0){display:block}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0):after{content:""}}

.homepage-top-promo .container .topbar-menu{grid-column:3;display:flex;align-items:center;margin-left:auto}

.homepage-top-promo .container .topbar-menu>a{ }

@media screen and (max-width:992px){.homepage-top-promo .container .topbar-menu>a{ }}

.homepage-top-promo .container .topbar-menu .icon-stores{width:13px;vertical-align:top;margin-right:4px}

.homepage-top-promo .container .topbar-menu .icon-stores svg path{stroke:#fff}

.homepage-top-promo .container .topbar-menu .topbar-link--locale,

.homepage-top-promo .container .topbar-menu .topbar-link--stores,

.homepage-top-promo .container .topbar-menu .topbar-link--welcome{display:none}

@media screen and (min-width:992px){.homepage-top-promo .container .topbar-menu .topbar-link--locale,.homepage-top-promo .container .topbar-menu .topbar-link--stores,.homepage-top-promo .container .topbar-menu .topbar-link--welcome{padding:0 8px;display:inline-block;vertical-align:top}}

.homepage-top-promo .container .topbar-menu .topbar-link--locale{background-size:auto 30%}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .locale__divider{display:inline-block;padding:0 7px}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask{display:inline-block;position:relative;top:-2px;margin-left:4px;width:23px;height:auto;overflow:hidden;vertical-align:middle}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-]{position:relative;top:4px;width:23px;height:20px}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-flag-global]{position:relative;top:0}

.homepage-top-promo .container a{color:#fffefa}



.minicart-wrapper .action.showcart .counter.qty,

.minicart-wrapper .action.fme-quote-showcart .counter.qty  { left: 9px!important; right: unset!important}

.sucess-chimps {font-size: 26px; font-family: 'aktiv_grotesk_exbold'; padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-success.jpg) center top no-repeat; }

.error-chimps { padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-error.jpg) center top no-repeat; }

.error-chimps a {text-decoration: underline }



@media screen and (max-width:767px){

.header-content-row .header-content-column.column-second {  width: 20%; padding: 20px 0; }

.header-content-row .header-content-column.column-third { margin-top: -48px!important;  height: 31px; }

.minicart-wrapper .action.fme-quote-showcart:before {font-size: 48px;}

.minicart-wrapper .action.showcart > span.text { background: url(../images/ico-monpanier-litle.png); position: relative; background-position: 50% 40%;      background-repeat: no-repeat;}



.minicart-wrapper.fme-quote-cart-wrapper {margin-left: 0;  margin-right: -5px; }

.minicart-wrapper .action.showcart > span.text {padding: 3px 10px!important;}

.block-search .block-content {top: 37px!important;  margin:0;}

.minicart-wrapper .action.fme-quote-showcart .counter.qty {left: -1px!important; }

.minicart-wrapper .action.showcart .counter.qty {left: 5px!important;}

.minicart-wrapper {margin-left: 0px;}

.nav-toggle {margin-right: 0px!important;}

.header.content { z-index:999;}

html.nav-open .header-content-row .column-second .nav-toggle:before {right: 54px!important;}

.block-search .block-content {margin-left: 10px!important; margin-right: -55px!important;}

}

.amsearch-close { left: 0!important; right: unset!important; display: none!important;}

.mc-field-group.input-group ul li input {margin-left: 10px;}





.block-product-selection .product {text-align: right!important;}



@media screen and (max-width:545px){

.header-content-row .header-content-column.column-second {  width: 20%; padding: 20px 0; }

.header-content-row .header-content-column.column-third { margin-top: -43px!important;  height: 31px; }

.minicart-wrapper .action.fme-quote-showcart:before {font-size: 48px;}

.minicart-wrapper.fme-quote-cart-wrapper {margin-left: 0;  margin-right: -3px; }

.minicart-wrapper .action.showcart > span.text {padding: 3px 10px!important;}

.block-search .block-content {top: 33px!important;  margin:0;}

html[lang="ar"] .minicart-wrapper .action.showcart .counter.qty {padding-left: 0!important;}

.minicart-wrapper {margin-left: 0px; width: 30px!important;}

}





@media screen and (min-width: 1440px) {

    .container.p-0  {max-width: 1380px; margin: 0 auto;}

}


@media screen and (max-width: 1380px) {

    .page-wrapper>.page-bottom {
        max-width: 100%!important;
    }
}

.form.minisearch .field.search .actions {display:none}
@media screen and (min-width: 768px) {

    .ves-megamenu .navigation .level0>a { text-transform: none!important;}

    .login-container .fieldset>.field>.control {max-width: 100%!important; }

    .image-gallery .image-gallery__item {width: 50%; float: left;    background: #edeee5;  outline: 20px solid #fff;}

    .image-gallery .image-gallery__item:nth-child(7n+3), .image-gallery .image-gallery__item:nth-child(7n+4), .image-gallery .image-gallery__item:nth-child(7n+7) {width: 100%!important;}

    .product-info-main .page-title-wrapper .page-title {line-height: 24px!important; font-family: 'aktiv_grotesk_exbold'!important; margin-top: 0!important; font-size: 20px!important;  text-align: right!important;}

    .page-layout-1column .product-info-main {}

    .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions { padding-top: 0!important;}

    .product.media {margin-bottom: 0px!important;}

	.amsearch-wrapper-content>.amsearch-item {float: left; width: 25%;}

    .control-search-input {max-width: 62%!important; margin: 0 auto;}

    .search-autocomplete {max-width: 100%!important; width: 100%!important;}

    .amsearch-results {max-width: 100%!important;}

    .block-search .block-content.active {max-height: 650px; overflow: auto;}
.catalog-product-view  .column.main { overflow: auto; position: relative;}
    .product-info-main {float: left!important;}

    .product.media {float: right!important; }
    .amasty-xsearch-loader {
        left: 30px!important; right: unset!important;
    }
}
.amasty-xsearch-loader {
    left: 30px!important; right: unset!important;
}
@media screen and (max-width: 767px) {

    .control-search-input {max-width: 90%!important; margin: 0 0 20px 20px;}

    .form .search-autocomplete {margin: 0!important; background: transparent!important; }

    .amsearch-results {max-width: 95%!important;}

    .amsearch-wrapper-content>.amsearch-item {float: left; width: 25%;}

    .block-search .block-content.active {padding: 0 20px!important;}

    .block-search .block-content.active {max-height: 400px; overflow: auto;}
 .product.data.items>.item.title>.switch { height: auto!important;}
    .block-product-selection .block-title { margin-bottom: 10px !important; padding-left: 0; }
    .product.data.items>.item.title>.switch { font-size: 14px!important;}
    .block-product-selection .block-title.title strong { font-size: 18px !important; }
    .product-info-main .page-title {font-size: 18px !important; }
    .modal-popup.modal-slide {left: 0!important;}
    .fotorama__nav.fotorama__nav--dots {text-align: center!important}
    .related-mobils {display:block}
}



@media screen and (max-width: 600px) {

    .amsearch-wrapper-content>.amsearch-item {float: left; width: 50%; }

}



.product-info-main {text-align: right!important;}



.search-autocomplete {max-width: 100%!important; width: 100%!important;}

.swatch-option { float: right!important;}

.product-info-main .product.data.items>.item.title [data-toggle="trigger"]:after {left: 15px!important; right: unset!important;}









.catalog-product-view .columns .column.main {padding-bottom: 0px;}

.product-items.slick-slider>.slick-list {padding: 0!important;}

.block, .sidebar .widget.block:not(:last-child), .sidebar .widget:not(:last-child), .block-banners, .block-banners-inline {

   /*  margin-bottom: 10px!important; */

}

.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {font-size: 14px!important;}

.swatch-attribute-selected-option {color: #282828!important; padding-left: 5px!important; font-weight: bold!important;}

.swatch-select.size {width: 100%; height: auto!important; padding: 20px; border: 1px solid #000;}

.product-info-main .swatch-attribute .swatch-attribute-label:after {content: ':';}



.minicart-wrapper .action.fme-quote-showcart .counter.qty .counter-number,

.minicart-wrapper .action.showcart .counter.qty .counter-number {width: 20px; display: block; text-align: center;}

.block .title strong {font-family: 'aktiv_grotesk_exbold', arial !important; font-size: 16px!important; text-transform: uppercase; letter-spacing: 0px;}

.products { margin: 0;}

.block-product-selection .product-items {margin-top: 0px!important;}

.block-product-selection.related .block-title {text-align: left;}

.block-product-selection .product-item .price-box .price {font-size: 14px!important; font-weight: 700!important; color: #1d1d1d;}

.block-product-selection .product { display: flex;    margin-top: 0!important;    justify-content: space-between;}

.block-product-selection .product { display: inline!important;}

.product-item-name>a, .product.name a>a { color: #1d1d1d;}

.product-info-main .description {display: none;}

.swatch-opt {margin: 40px 0 0px 0!important;}

/* .product-info-main .swatch-option {width: 28px!important; height: 28px!important; margin-top: 10px;} */

.product-info-main .swatch-attribute .swatch-attribute-label {text-transform: none!important;}

.product-options-wrapper .fieldset:last-child {margin-bottom: 0!important;}

.conteneur-size-guides {display: flex; justify-content: space-between; margin-top: -10px;}

.size-find-trigger p {text-decoration: underline; cursor: pointer; padding-left: 40px; background: url(../images/ico-size-find.png) no-repeat;}

.size-guide-trigger p {text-decoration: underline; cursor: pointer}



.product-info-main .product-addto-links { text-align: center; padding: 0px; width: 69px; margin: 0 15px 0 0!important; height: 56px; line-height: 60px; border: 1px solid #1d1d1d;}

.product-info-main .action.towishlist { margin-left: 0!important;}

.product-info-main .box-tocart .action.tocart {max-height: unset!important;}

ul.check-list {padding-top: 10px;}

ul.check-list>li { margin-bottom: 0px!important;}

.product-info-main .box-tocart {margin: 25px 0 0 0!important;}

ul.check-list.freedelivaka {padding-top: 10px; margin-bottom: 50px;}


.isan-en {display:none}
.isan-ar {padding-left: 40px;}

@media screen and (min-width: 768px) {
    .fixemoi {
        position: fixed !important;
        top: 85px;
        left: 5%;
        background: #fff;
        z-index: 999;
        padding-top: 20px;
        padding-left: 20px;
        max-width: 500px;
    }

    .bottommoi {
        position: absolute !important;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 999;
    }
}
.product.data.items {margin-bottom: 0!important;}

.product-info-main .product.data.items>.item.title { cursor: pointer; color: #1d1d1d!important; font-weight: 700!important; letter-spacing: normal!important; border-top: 1px solid #f0ede8!important; padding: 15px 0 0 0!important; font-family: 'aktiv_grotesk_exbold', arial !important; font-size: 14px!important; }

.product-info-main .product.data.items>.item.title>.switch[data-toggle="trigger"] {width: 100%;}



.product.info.detailed.cms-accordion:nth-child(3) { border-top: 1px solid #f0ede8!important;}

.product.media {}



.catalog-product-view  .column.main { overflow: hidden; position: relative;}

.action.tocompare {display: none!important}

.related.block-product-selection {max-width: 640px; padding-top: 20px;}

.slick-slide {vertical-align: top!important;}

.product-items .action.towishlist:before,

.products.list.items .action.towishlist:before,

.product-item-actions .actions-secondary>.action:before {font-size: 45px!important; margin-top: 17px!important;}



.breadcrumbs a { color: #a3a3a3!important; font-family: 'Aktiv Grotesk'; font-size: 12px!important; font-weight: 400!important;  text-transform: none!important; }

.catalog-product-view .breadcrumbs-items:before { opacity: 0.5;}

.breadcrumbs { margin: 20px auto!important;}

.related .products {margin: 2px 0!important;}

.block-product-selection .block-title {margin-top: 20px!important;}
.swatch-select.size:after {color:red!important}

.page-products.page-layout-1column.catalog-category-view .products-grid .product-item .product-item-photo.photo  img, .product-image-photo { background:#edeee5;}

.gallery-container  {padding-right: 10px;}



@media screen and (max-width: 1380px) {

    .page-wrapper>.page-bottom {
    max-width: 100%!important;
    }
}
.swatch-select.size{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;       /* Remove default arrow */
background: url(../images/down-arrow.png) 4% 50%no-repeat;
}

ul.filter-list li  {display: inline-block!important; font-weight: bold; cursor: pointer;}

.sizecategory { float: left; position: relative; text-align: left;}
.size-guide-image { width: 27%; float: right;  margin: 0 auto;}


/******** value swich **************/
.valueswitch{position:relative;display:inline-block;box-sizing:border-box;margin:0 0 2rem;border:1px solid #1d1d1d;width:100px;height:45px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:top}.valueswitch-checkbox{display:none}.valueswitch-checkbox:checked+.valueswitch-label .valueswitch-inner{margin-left:0}.valueswitch-label{display:block;cursor:pointer;overflow:hidden}.valueswitch-label .valueswitch-inner{display:block;width:100%;margin-left:0;line-height:43px}.valueswitch-label .valueswitch-inner:after,.valueswitch-label .valueswitch-inner:before{display:inline-block;width:50%;height:43px;color:#1d1d1d;text-align:center}.valueswitch-label .valueswitch-inner:before{background-color:#1d1d1d;color:#fff;content:attr(data-switch-value1)}.valueswitch-label.clicked .valueswitch-inner:before{background-color:transparent;color:#1d1d1d}.valueswitch-label .valueswitch-inner:after{background-color:transparent;color:#1d1d1d;content:attr(data-switch-value2)}.valueswitch-label.clicked .valueswitch-inner:after{background-color:#1d1d1d;color:#fff}.valueswitch-label.clicked .valueswitch-inner:after,.valueswitch-label.clicked .valueswitch-inner:before,.valueswitch-label .valueswitch-inner:after,.valueswitch-label .valueswitch-inner:before{transition:all .2s ease-in .1s}.valueswitch-switch{display:none}
.how-to-measure.sizetable.content {clear: both}
.filter-list__item {margin-left: 30px}
.filter-list__item.first {margin-left: 0px}

.size-chart-tables h1, .size-chart-tables h2, .size-chart-tables h3, .size-chart-tables h4, .size-chart-tables h5, .size-chart-tables h6 {
    font-family: 'roxborough-cf-thin',Times New Roman,times,serif;
    font-weight: bold;
    line-height: 1.071;
    margin: 1rem 0;
    padding-bottom: 1%;
    color: #1d1d1d;
    text-align: left;
}

.size-guide-show .modal-content {padding: 20px!important;}
.size-guide-show.modal-popup .modal-inner-wrap {
    max-width: 800px!important;
    margin: 30px auto!important;
}

.conteneur-cm-inch {width: 100px; display: flex; border: 1px solid black; margin: 10px 0;}
.valueswitch-inner-measure {width: 50px; text-align: center; height: 43px; line-height: 43px;}
.valueswitch-inner-measure.actives {width: 50px; text-align: center; color:white; background: black; height: 43px; line-height: 43px;}
.page-with-filter .block.filter .filter-toggle {left: 14px; right: unset;}

.jumpto-measurements { font-weight: bold; margin: 10px 20px; display: inline-block; text-decoration: underline; cursor: pointer;}
.size-chart-tables table{position:relative;margin:0;border-collapse:unset;border-spacing:0;background-color:#fffefa;width:auto;color:#1d1d1d;font-family:Aktiv Grotesk,Arial,Helvetica,sans-serif;line-height:1.5; line-height:1.333;font-weight:400}@media screen and (max-width:991.98px){.size-chart-tables table{display:block;width:calc(100vw - 40px);max-width:calc(100vw - 40px);overflow-x:scroll}}.size-chart-tables table tbody,.size-chart-tables table td,.size-chart-tables table th,.size-chart-tables table thead,.size-chart-tables table tr{border:0}.size-chart-tables table td,.size-chart-tables table th{box-sizing:border-box;margin:2px;padding:16px;overflow-x:auto;overflow-y:auto;width:auto;height:38px;line-height:1.5em;text-align:center;vertical-align:middle;border:1px solid rgba(0,0,0,.12)}@media screen and (max-width:991.98px){.size-chart-tables table td,.size-chart-tables table th{white-space:nowrap;padding:.5rem}}.size-chart-tables table td{background-color:initial;border-color:rgba(0,0,0,.12)}.size-chart-tables table td._2,.size-chart-tables table td._3,.size-chart-tables table td._4{background-color:rgba(0,0,0,.12);border-color:rgba(0,0,0,.12)}.size-chart-tables table thead{background-color:rgba(0,0,0,.3);border-color:rgba(0,0,0,.12)}.size-chart-tables table thead th{min-width:45px}@media screen and (min-width:992px){.size-chart-tables table thead th.hover-th{background-color:#1d1d1d;color:#fff}}@media screen and (max-width:991.98px){.size-chart-tables table thead th.desktop,.size-chart-tables table thead th.region{display:none}.size-chart-tables table thead th.only-mobile{display:table-cell}}.size-chart-tables table tbody{position:relative;width:auto;max-width:550px;overflow-x:auto}.size-chart-tables table tbody tr{color:#1d1d1d}.size-chart-tables table tbody tr td{text-align:center}.size-chart-tables table tbody tr td._1{background-color:rgba(0,0,0,.3)}@media screen and (max-width:991.98px){.size-chart-tables table tbody tr td._2{display:none}.size-chart-tables table tbody tr td._2.only-mobile{display:table-cell}}.size-chart-tables table tbody tr td .switch-value1{display:initial}.size-chart-tables table tbody tr td .switch-value2{display:none}@media screen and (min-width:992px){.size-chart-tables table tbody tr:hover td{background-color:#1d1d1d;color:#fff}.size-chart-tables table tbody tr:hover td._2,.size-chart-tables table tbody tr:hover td._3{background-color:rgba(0,0,0,.3);color:#1d1d1d}.size-chart-tables table tbody tr td.hover{background-color:rgba(0,0,0,.3)}.size-chart-tables table tbody tr td.hover:hover{background-color:#1d1d1d;color:#fff}}.size-chart-tables table .extra{font-family:Aktiv Grotesk,Arial,Helvetica,sans-serif;font-weight:400;line-height:1.5; line-height:1.333;padding:2px 2px 0}@media screen and (min-width:992px){.size-chart-tables table .only-mobile{display:none}}.size-chart-tables.kids table td,.size-chart-tables.kids table th{padding:1rem .6rem}@media screen and (min-width:992px){.size-chart-tables.kids table td,.size-chart-tables.kids table th{padding:1rem .75rem}}.sizeguide-dialog{padding-bottom:1em}@media screen and (min-width:992px){.sizeguide-dialog{height:740px}}.social-links-wrapper{margin:0 -1.5rem;background:none;background-color:#dbc7ae;text-align:center}
.ves-megamenu .navigation .level0.whats-news .ves-column1>.item-content1>.mega-col { text-align:right;}

.size-find-trigger {display:none;}

.catalog-category-view .page-title-wrapper {text-align: center;}
.catalog-category-view .page-title-wrapper h1.page-title {text-align: center; font-family: 'roxborough-cf-thin'; font-size: 40px; font-weight: 700; }
.catalog-category-view .category-description {max-width: 1380px; margin: 0 auto 30px auto;}
/* .catalog-category-view .category-cms{ display: none;} */
.page-with-filter .block.filter .filter-title {display: none;}
.page-with-filter .block.filter .filter-content .filter-frame {border-left: 0px solid #f0ede8;}
.filter-options {border: 1px solid #f0ede8; margin:-1px 0 0 -1px!important; position: relative;}

.page-with-filter .block.filter .filter-content .filter-options dt {text-align: center;}
.page-with-filter .block.filter .filter-content .filter-options dt:after {right: 25%!important; top: 19px!important; font-size: 14px!important;}

 .page-with-filter .block.filter .filter-content .filter-options.select-open dd {display: block!important; z-index: 999; background: #ffffff;
     z-index: 999; width: 100%;  overflow: auto;  max-height: 200px; border: 1px solid #f0ede8}
.page-with-filter .block.filter .filter-content .swatch-attribute.macro_colour .swatch-option {
    border: solid 1px #000 !important; display: block; margin-bottom: 20px; margin-left: 20px; border-radius: 20px; width: 20px!important; height: 20px;  max-width: 20px; min-width: 20px;}
.swatch-attribute.macro_colour .swatch-option-link-layered {display: block;}
.conteneur-name-prix {overflow: auto; width: 100%;}
.conteneur-name-prix .product-item-name {float: left;  width: 60%;}
.conteneur-name-prix .product-item-name a {color:#1d1d1d;}
.conteneur-name-prix .conteneur-prix {float: right;  width: 40%;}
.product-item .price-box .price { font-weight: 700!important;}
.conteneur-short-numbs {text-align: center; padding-top: 40px; max-width: 1380px; margin: 0 auto; padding: 0 10px;}
.conteneur-short-numbs p {font-weight: 700!important;}
.conteneur-short-numbs .short-down {float: right; background: url(../images/bg-short-numbs.jpg) 0 50% no-repeat; padding-left: 20px;}
.breadcrumbs .item:not(:last-child):after {vertical-align: middle!important;}
.amshopby-filter-current .amshopby-filter-value {
    height: 25px;
    line-height: 25px;
}

.breadcrumbs .item:not(:last-child):after { content: "\e617"!important;}

.price-box.price-final_price { display: inline-block;}
.catalog-category-view .old-price.sly-old-price.no-display { display: inline-block!important; padding-right: 10px;}
.normal-price .price {color: #1d1d1d!important}
.old-price, .old.price { color:rgba(0,0,0,.5)!important; font-weight: 700!important;}
.block-search input:focus {outline: 0!important; box-shadow: none!important;}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {outline: 0!important;}

.product-info-main .special-price, .product-options-bottom .special-price {display: inline!important;}
.old-price, .old.price {font-weight: 700;}
.product-item .price-box.price-final_price .special-price .price {color: #910012;}
.special-price .price {color: #910012!important;}
.old-price {padding-right: 10px;}

.product-info-main .special-price .price-label+.price-wrapper,
.product-options-bottom .special-price .price-label+.price-wrapper { display: inline-block; text-decoration: line-through; padding-right: 10px;}
.catalog-category-view .product-item-actions .actions-secondary>.action.towishlist { right: 20px!important;}
.search.results { max-width: 1380px; margin: 0 auto;}
.numers-new-mana {text-align: center; font-weight: bold; padding-right: 140px;}
.toolbar-sorter.sorter.mmmm{float:left}
.swatch-option {outline: 0px solid #80807e!important; border: 0px solid #80807e!important; padding: 0!important;}
.swatch-option.selected {outline: 0px solid #80807e!important; border: 1px solid #80807e!important; padding: 0;}
.categorypath-women  .sorte-new-mana {display:none}

.breadcrumbs strong {font-weight: 400;font-size: 12px!important;font-family: 'Aktiv Grotesk'!important;}

.product-info-main .product.data.items>.item.title { -webkit-tap-highlight-color: transparent;}

.page-header.sticky {position: fixed; top: 0; width: 100%; z-index: 9999;}

.slick-slide img { background: #edeee5;}

@media screen and (min-width: 768px) {
    .badge.new {
        background-color: #ffda00 !important;
        height: 30px !important;
        line-height: 30px !important;
        width: 20% !important;
        text-align: center !important;
        padding: 0 !important;
        font-size: 14px !important;
    }
    .badge.sale, .badge.new {
        background-color: #ffda00!important;
        color: #1d1d1d!important;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+1){
        width: 31%;
        margin-right: 1%;
        margin-left: 0%;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+2){
        width: 31%;
        margin-right: 1%;
        margin-left: 1%;
    }


      .page-products.page-layout-1column.catalog-category-view .products-grid.trois-fois-trois .product-item:nth-child(5n+1){
        width: 31%;
        margin-right: 0;
        margin-left: 0;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid.trois-fois-trois .product-item:nth-child(5n+2){
        width: 31%;
        margin-right: 0;
        margin-left: 0;
    }




    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+3){
        width: 31%;
        margin-right: 0%;
        margin-left: 1%;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid.trois-fois-trois .product-item:nth-child(5n+3){
        width: 31%;
        margin-right: 0;
        margin-left: 0;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+4){
        width: 49%;
        margin-right: 1%;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n){
        width: 49%;
        margin-left: 1%;
        margin-right: 0;
    }
    .page-products.page-layout-1column.catalog-category-view .products-grid.trois-fois-trois .product-item:nth-child(5n+4){
        width: 31%;
        margin-right: 0;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid.trois-fois-trois .product-item:nth-child(5n){
        width: 31%;
        margin-left: 0;
        margin-right: 0;
    }

    .cms-enters {width:66%!important}


}


@media screen and (max-width: 1199px) {
    .page-with-filter .block.filter .filter-content .filter-options dt:after { right: 25%!important;}
}

@media screen and (max-width: 767px) {
    .conteneur-name-prix .product-item-name {
        float: none;
        width: 100%; min-height: 50px;
    }

    .conteneur-name-prix .conteneur-prix {
        float: none;
        width: 100%;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(3n+1){
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(3n+2){
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(3n){
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid.trois-fois-trois .product-item:nth-child(3n){
        width: 48%;
        margin-left: 0;
        margin-right: 0;
    }
    .cms-enters {width: 98%!important}


    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item .product-item-info {
        width: 100%;
    }

    .page-products.page-layout-1column.catalog-category-view .product-item-actions .actions-secondary>.action.towishlist {
        position: absolute;
        top: 0;
        right: 14px;
        z-index: 99;
    }
	.page-with-filter .block.filter .sorter-mobile {border-bottom: 1px solid #fff!important;}
	.block-content.filter-content{margin: 0px -15px;}

    .catalogsearch-result-index .page-title-wrapper .page-title {
        font-size: 30px!important;
        font-family: 'roxborough-cf-thin';
        text-transform: none!important;
        max-width: 80%!important;
        line-height: normal!important;
    }
    .numers-new-mana {
        text-align: center;
        font-weight: normal;
        padding-right: 0;
    }
    .catalogsearch-result-index .search-back, .catalogsearch-result-index .total-result-count {
         display: none!important;
     }
}

