@font-face {

    font-family: 'Aktiv Grotesk';

    src: url('aktivgrotesk-regular-webfont.woff2') format('woff2'),

         url('aktivgrotesk-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'aktiv_grotesk_exbold';

    src: url('aktiv_grotesk_ex_bold-webfont.woff2') format('woff2'),

    url('aktiv_grotesk_ex_bold-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'aktivgrotesk-black-bold';

    src: url('aktivgrotesk-black-webfont.woff2') format('woff2'),

    url('aktivgrotesk-black-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'roxborough-cf-thin';

    src: url('roxborough-cf-thin.woff2') format('woff2'),

    url('roxborough-cf-thin.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'almarairegular';

    src: url('almarai-regular-webfont.woff2') format('woff2'),

    url('almarai-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

#secondary h1, .h1, .primary-content h1, h1 {

    font-family: 'roxborough-cf-thin',Arial,times;

    font-weight: 500;

    line-height: 1.1;

    font-size: 43px;    color: #1d1d1d;

}

.d-block {

    display: block!important;

}

.block.block-wishlist{color: #1d1d1d;}



.bag__summary.pt-5.pb-4 {

    padding-top: 45px;

    padding-bottom: 30px;

    font-size: 18px;

    font-weight: bold;

}

p.mb-5 {

    padding: 20px 0 50px 0;

    line-height: 20px;

}



.bag__actions a.action.primary {

    display: inline-block;

    text-decoration: none;

    width: 270px;

    text-align: center;

}



.menus-conteneurs {clear: both; width: 100%; position: relative;}

.page-header { background: #dbc7ae;}

.header-content-row .header-content-column.column-second {width: 100%!important;}

.header-content-row .header-content-column.column-third {float: left; width: 20%; margin-top: -56px;}

.ves-megamenu .navigation .navigation > ul{text-align: center;}

.nav-sections {position: relative; background: #f0ede8!important;}

[data-content-type='row'][data-appearance='full-bleed'] {

    box-sizing: border-box;

    padding: 0!important;

}

.homepage-top-promo {background:#282828; color: #fff; font-size:12px; }

.homepage-top-promo .container{display:grid; grid-template-columns:215px 1fr auto; grid-template-rows:1fr; align-items:center}



.header-content-column.column-third .block-search .block-title {

    font-family: 'Aktiv Grotesk', Arial;

    background: url(../images/ico-monsearch.png) 10px 11px no-repeat;

    padding-left: 35px; margin-left: 5px; cursor: pointer;

}

.header-content-column.column-third .block-search .block-title.active {

    font-family: 'Aktiv Grotesk', Arial;

    background: #faf8f5 url(../images/ico-monsearch-over.png) 10px 50% no-repeat;

    padding-left: 35px;

    margin-left: 5px; cursor: pointer;

}



.header-content-column.column-third .block-search {margin-top: 0px;}

.block-search .block-content { margin: 0 15px;}

.minicart-wrapper {margin-left: 0px; width: 40px;}

.minicart-wrapper.fme-quote-cart-wrapper {margin-left: 5px; margin-right: 10px;}

.page-header .panel.wrapper {border-bottom: 0!important;}

.minicart-wrapper .action.fme-quote-showcart {padding:14px 4px!important ;}

.minicart-wrapper .action.fme-quote-showcart.actives-ftr { background: #faf8f5;}



.authorization-link  span{

    background: url(../images/ico-moncompt.png) no-repeat center 12px;

    width: 20px;

    height: 56px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.authorization-link-over  span{

    background: #faf8f5 url(../images/ico-moncompt-over.png) no-repeat center 50%;

    width: 20px;

    height: 56px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.new-wishlist-link  span{

    background: url(../images/new-wishlist-link.png) no-repeat center 50%;

    width: 26px;

    height: 53px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.new-wishlist-link-over  span{

    background: #faf8f5 url(../images/new-wishlist-link-over.png) no-repeat center 50%;

    width: 26px;

    height: 53px;

    text-indent: -10000px;

    display: inline-block;

    padding: 0 10px;

    cursor:pointer;

}



.login-container .block-new-customer p { line-height: 20px; color: #1d1d1d;}

.login-container .block.block-new-customer { border-right: 2px solid #f0ede8;}



.block-search .block-content { background-color: #faf8f5!important;}



#loginpopups {width: 100%; position: absolute; top: 57px; z-index: 999;

    background-color: #faf8f5;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

}

#wishlistspopups {width: 100%; position: absolute; top: 50px; z-index: 999;

    background-color: #faf8f5;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);

}



#loginpopups .login-container {margin: 0 auto!important;}

.login-container .block-new-customer, .login-container .block-customer-login { background-color: #faf8f5!important;}

.login-container .block .block-title {font-size: 26px!important; letter-spacing: 0px!important; color: #1D1D1D; font-family: 'aktiv_grotesk_exbold', Arial, Verdana, Tahoma!important;}



.action.primary {

    font-weight: 700!important;

    padding: 18px 50px!important;

    font-size: 16px!important;

    text-transform: none!important;}



.container-p-0 {background:#282828}

.int-p-0 {max-width:1380px; margin: 0 auto; position:relative}

.int-child {position: absolute; top:1px; right:0; color:#fff}

.int-child  .switcher-language .switcher-option a {color: #fff; font-size: 14px;}

.cms-home_ar .int-child  .switcher-language .switcher-option a {color: #fff; font-size: 14px;}

.page-header .switcher {margin-right: 0px!important;}

.usp-list{ margin-bottom:0; }

.usp-list li {

    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;

    font-weight: 400;

    line-height: 1.5;

    display: inline-block;

    line-height: 32px; list-style-type:none;

	margin-bottom:0;    letter-spacing: normal;

}

.usp-list li.firstly:after {

    content: "|";

    color: #fffefa;

    margin: 0 20px;

}



a.store-head {background:url(../images/bg-store-head.jpg) no-repeat left 50%; color: #fff!important; margin-right: 20px; font-weight: 400; font-size: 12px; padding-left: 20px; font-family: 'Aktiv Grotesk','Helvetica Neue',Helvetica,Arial,sans-serif!important; padding-top: 3px; text-transform: none;}

.page-header .switcher .options ul.dropdown {left:-5px;}



.login-container .fieldset>.field { margin: 0px 0px 25px 0px!important;}



.input-text {border-color: #1d1d1d!important; height: 50px!important;}





.header-content-row .column-third {line-height: normal;}

.login-container .block .login .actions-toolbar>.secondary .remind {text-decoration: none!important;}





.form.minisearch {

    max-width: 100%!important;

    margin: 0 20px;

}



.block-search input {

    border: 1px solid #1d1d1d!important;

    border-width: 0 0 2px 0!important;

    padding: 10px 0!important;

    outline: 0!important;

    font-size: 25px!important;

    font-weight: 400!important;

    background: transparent!important;

}

.block-search .block-content .field.search .actions { margin-right: 0; margin-left: -40px;}

.block-search input::placeholder, .block-search input:-ms-input-placeholder, .block-search input::-ms-input-placeholder { color: #7d7c7a;}

.fieldset.login ::-webkit-input-placeholder, .fieldset.login :-moz-placeholder, .fieldset.login ::-moz-placeholder, .fieldset.login :-ms-input-placeholder  { background: red!important;}

.block-search .block-content .field.search {width: 90%!important; padding: 30px 15px 24px 15px!important;}

.block-search .action.search:before {font-size: 40px; margin: 5px 0 0 0; display: none!important}



.block-search .action.search>span { height: 26px!important; margin: 0; overflow: hidden; padding: 0; position: relative!important; width: 23px!important; display: block!important; text-indent: -10000px!important;}

.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search { background: url(../images/ico-monsearch-over.png) 0px 50% no-repeat;}







.bag.border-left {

    border-left: 2px solid #f0ede8!important;

}.bag {

     position: static;

     float: right;

 }

.bag {

    width: 370px;

    padding: 0 50px;

}

.bag.misy-wish {

    width: 270px;

    padding: 0px 25px 0px 65px;

}

.bag {

    min-height: 450px;

}

.bag__items-wrapper.empty-message {

    padding-top: 160px;

}

.bag__items-wrapper.empty-message {

    text-align: center;

}

.bag__items-wrapper {

    position: absolute;

    left: 0;

    height: 100%;

    width: calc(100% - 390px);

    z-index: 999;

    margin: 0;

}

/*

.modal-popup .block-wishlist .product-item {

    padding: 0!important;

    width: 29%!important;

    margin-right: 3%!important;

    display: inline-block!important;

}

.modal-popup .block-wishlist .product-item:nth-child(3n)  {

    padding: 0!important;

    width: 29%!important;

    margin-right: 0%!important;

    display: inline-block!important;

}

*/

.modal-popup .block-wishlist .actions-secondary {

    position: absolute;

    top: 20px;

    z-index: 999;

    right: 10px;

}



.block-wishlist .product-item-name {

    margin-right: 0px;

    text-align: left;

}



.block-wishlist .product-item .price-box .price {

    font-weight: 700!important;

    color: #910012!important;

}

.misy-wish .product-item-info {width: 100%!important;}



.minicart-wrapper .action.showcart { height: 54px;}





/* .minicart-items .item.product.product-item {width: 31%; display: inline-block!important; margin-right: 3%;}

.minicart-items .item.product.product-item:nth-child(3n) {width: 31%; display: inline-block!important; margin-right: 0!important;}

.minicart-items .product-item {padding: 0!important;} */

.block-minicart .bag__items-wrapper.empty-message { padding-top: 0!important;}

.block-minicart .bag__items-wrapper.empty-message.scalls { padding-top: 160px!important;}

.block-minicart .bag {width: 265px; padding: 0px 37px; min-height: 500px;}

.block-minicart .product-image-container { margin-bottom: 10px;}

.minicart-items .product-item-details .price {color: #910012!important;}

.header-content-column .customer-welcome {display: none!important}

.minicart-wrapper .block-minicart {background: #faf8f5!important;}

.block-minicart .subtotal .label { display: none;}

.usp-list li a {color:#fff!important}

.block-minicart .block-content .minicart-footer { border-top: 0!important; padding: 0!important;}

.block-minicart .subtotal, .block-minicart .vat {display: inherit!important; text-align: right!important;}

.block-minicart .amount .price-wrapper:first-child .price {font-size: 18px!important; font-weight: 700; color: #1d1d1d;}

.block-minicart .bag-summary__count {font-size: 18px!important; font-weight: 700; color: #1d1d1d;}

.minicart-wrapper .action.showcart .counter.qty { top: 21px!important; left: 16px!important; font-size: 11px!important;}

.minicart-wrapper .action.showcart .counter.qty {font-weight: 700; font-size: 12px; }



.minicart-wrapper .action.showcart > span.text {

    background: url(../images/ico-monpanier.png);

    position: relative;

    width: 23px;

    height: 50px!important;

    background-position: 50% 40%;

    background-repeat: no-repeat;

    font-size: 0;

    position: absolute;

    left: 0;

    clip: auto;

    top: 0px!important;

    padding: 1px 10px;

}

.minicart-wrapper .action.showcart.active > span.text {

    background: #faf8f5 url(../images/ico-monpanier.png);

    position: relative;

    width: 23px;

    height: 56px!important;

    background-position: 50% 40%;

    background-repeat: no-repeat;

    font-size: 0;

    position: absolute;

    left: 0;

    clip: auto;

    top: 0px!important;

    padding: 1px 10px;

}

.minicart-items .product>.product-item-photo, .minicart-items .product>.product-image-container { width: 100%;}





.modal-slide._inner-scroll .modal-header, .modal-slide._inner-scroll .modal-footer {display: none!important;}

.modal-popup .modal-inner-wrap { width: 86%!important ;margin: 90px auto!important;}





.misy-wish .product-image-container .product-image-photo {width:100%!important}

.block-minicart .product-image-container .product-image-photo {width:100%!important}



.header-content-row .column-third>li.wishlist .counter {

    position: absolute;

    top: 22px!important;

    left: 28px!important;

    font-size: 11px;

    font-weight: bold!important;

    color: #fff!important;

}

.header-content-row .column-third>li.wishlist div {

    padding: 14px 0!important;

}

.header-content-row .column-third>li.wishlist div:before {font-size: 58px!important;}

.modals-overlay {background-color: transparent!important;}





.header-content-column.column-third li.link.wishlist {display: none;}





.modal-slide._show, .modal-popup._show {z-index: 999!important;}

.page-header .panel.wrapper .container-p-0 {z-index: 1000; position: relative;}

.submenu.dropdown-menu .item-content {text-align: left}



.search .amsearch-loupe {display:none!important}

.amasty-xsearch-block-header { font-size: 16px; font-family: 'aktiv_grotesk_exbold';  font-weight: 700;  padding: 20px 15px 0px 15px!important; clear: both!important; display: block!important;}

.amsearch-products .amasty-xsearch-block-header a { font-size: 16px; font-family: 'aktiv_grotesk_exbold'; font-weight: 700; margin-left: 40px; border-bottom: 2px solid #1d1d1d;}

.amsearch-item-footer { padding:0 0 15px 15px;}

.amsearch-item-footer  a.item-name {font-size: 14px!important; font-weight: 700; text-decoration: none!important;}



.switcher-website .actions.dropdown.options.switcher-options {font-family: 'Aktiv Grotesk'!important;}





.page-title-wrapper h1.page-title {text-align: center; font-family: 'aktiv_grotesk_exbold', arial;}





.switcher-website .view-ae span:before, .switcher-website .website-ae span:before, .switcher-website .view-sa span:before, .switcher-website .website-sa span:before, .switcher-website .view-ae a:before, .switcher-website .website-ae a:before, .switcher-website .view-sa a:before, .switcher-website .website-sa a:before {

   margin-left: 8px;

}



@media screen and (min-width:1421px){

    .minicart-wrapper {position: unset!important; }

    .minicart-wrapper .block-minicart {right: 0!important; width: 100%!important;}

    .minicart-wrapper .action.showcart {position: relative;}



}

@media screen and (max-width:1420px){

.minicart-wrapper {position: unset!important; }

.minicart-wrapper .block-minicart {right: 0!important; width: 100%!important;}

.minicart-wrapper .action.showcart {position: relative;}

}







@media screen and (min-width:981px) and (max-width:1200px){

    .menu-disover .submenu.dropdown-menu .submenu-inner .content-wrapper .item-content {width: 100%!important}

}



@media screen and (max-width:1199px){

    .block-search .block-title strong {display: none;}

}

@media screen and (max-width:1200px){

    .homepage-top-promo .container{grid-template-columns:auto 1fr auto}

    .homepage-top-promo {text-align: left; padding-left: 10%!important;}

    #loginpopups {left: 0;}



}



@media screen and (min-width:1025px) and (max-width:1199px){

    .block-search .block-content {margin: 0 0px;}

    .block-search .block-title { padding: 28px 20px!important;}

    .homepage-top-promo {text-align: left; padding-left: 0!important; }

}











@media screen and (max-width:1024px){

    .homepage-top-promo {padding-left: 0%!important;}

    .header-content-column.column-third .block-search .block-title {background: url(../images/ico-monsearch.png) 10px 0px no-repeat;}

    .minicart-wrapper .action.showcart .counter.qty {left: 18px!important;}



    .block-search .block-content {margin: 0 0px;}

}





@media screen and (min-width:992px) and (max-width:1199px){

    .homepage-top-promo {padding-left: 20px!important; }

}



@media screen and (min-width:992px) and (max-width:1019px){

    .header-content-column.column-third .block-search .block-title.active {

        background: #faf8f5 url(../images/ico-monsearch-over.png) 10px 13px no-repeat!important;

        margin-top: -10px!important;

        padding: 24px 20px!important;

    }

}

@media screen and (min-width:1020px) and (max-width:1024px){

    .header-content-column.column-third .block-search .block-title.active { padding-top: 40px;}

    .modal-popup .modal-inner-wrap {width: 100%!important; margin: 90px auto!important; }

    .bag {width: 236px; padding: 0 50px;}

}







@media screen and (max-width:991px){

    .homepage-top-promo .container{height:100%;grid-template-columns:1fr}

    .header-content-row .header-content-column.column-third {width: 23%;}

    .header-content-row .column-third { display: block; flex-direction: unset; align-items: unset; line-height: 1; }

    .int-child, .authorization-link { display: none; }

    .block-search { position: absolute; left: 0px; top: 10px; width: 100%; float: none;}

    .header-content-column.column-third .block-search {z-index: 10;}

    .minicart-wrapper {z-index: 20;     margin-left: 31px;}

    .header-content-column.column-third .block-search .block-title {background: url(../images/ico-monsearch.png)  10px 5px  no-repeat; }

    .header-content-column.column-third .block-search .block-title.active {background: url(../images/ico-monsearch-over-mobil.png) 10px 50% no-repeat; height: 23px; margin-top: -10px;}

    .modal-popup .modal-inner-wrap {width: 100%!important; margin: 87px auto!important;}



    .block-search .block-content {margin: 0px;}

    .modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer {padding-left: 0!important; padding-right: 0!important;}

    .bag {width: 100%; padding: 0px;}

    .block-minicart .bag {width: 100%; padding: 0;}

    .block-minicart .bag__items-wrapper.empty-message.scalls {padding-top: 0px!important; width: 100%; position: relative;}

    .block-minicart .bag { min-height: 300px;}

    .bag__items-wrapper {padding-top: 0px!important; width: 100%; position: relative;}

    .block-minicart .bag__items-wrapper {padding-top: 0px!important; width: 100%; position: relative;}

    .bag.border-left {border-left: 0px solid #f0ede8!important;}

    .bag__actions a.action.primary.disabled {width: 100%;}



    .block.block-wishlist .empty {padding: 0 20px;}

    .block.block-wishlist .empty .bag__actions a.action.primary {width: 100%}

    .block-wishlist .empty p.mb-5 br {display: none!important;}



    .minicart-wrapper .action.showcart .counter.qty { left: 18px!important; }

    .homepage-top-promo .container .usp-text{grid-column:1}

    .homepage-top-promo {text-align: center; padding-left: 0%!important; }

    .homepage-top-promo { height: 30px; overflow: hidden; }

    .nav-toggle {position: absolute!important;}

    .nav-toggle:before {color: #1d1d1d!important; margin:7px 0 5px 5px!important;}

    .block-search .block-title:before {margin-left: 7px!important;}

    .minicart-wrapper .action.showcart.active > span.text {left: 5px;}

    .logo img {position: relative;  z-index: 20;  }

}





@media screen and (min-width:768px) and (max-width:780px){

.block-search .block-content {margin-left: 0px;}

    .search-autocomplete {margin-left: 20px!important;}

    .login-container .block {padding: 0px 20px 50px 20px!important;}

}

@media screen and (min-width:768px) and (max-width:991px){

.minicart-wrapper.fme-quote-cart-wrapper {margin-right: 0px!important;}

    .minicart-wrapper.fme-quote-cart-wrapper {margin-right: 5px!important;}

    html[lang="ar"] .minicart-wrapper .action.showcart .counter.qty {padding-left: 8px!important;}

}



@media screen and (min-width:768px) and (max-width:780px){

    /* .nav-toggle {display: block!important; top: 0px!important; left: 10px!important;} */

    .block-search { position: absolute; left: 0px!important; top: 10px; width: 100%; float: none;}

}

@media screen and (min-width:768px) and (max-width:769px){

.block-search .block-content { margin-right: 0px!important;  padding: 0 20px;}



}



.switcher-website strong {font-size: 12px!important; font-family: 'almarairegular'!important;}

.switcher-website .view-ae span, .switcher-website .website-ae span, .switcher-website .view-sa span, .switcher-website .website-sa span, .switcher-website .view-ae a, .switcher-website .website-ae a, .switcher-website .view-sa a, .switcher-website .website-sa a {

    font-family: 'almarairegular'!important;

}



@media screen and (min-width:768px){

    .navigation .level1 > .submenu { display: block!important; position: relative!important; }

    .navigation .level2 .submenu { display: none!important;}

    .ves-megamenu .level0 .submenu .nav-item>a { line-height: 36px!important}

    .ves-megamenu.top-main-menu .navigation .level0 .submenu .mega-col>.nav-item.level1>a {  opacity: 1!important; color: #1d1d1d!important; font-size: 12px!important; font-family: 'aktiv_grotesk_exbold', arial!important;    }

    .ves-megamenu .navigation .level0 .submenu .submenu-inner .content-wrapper {padding: 35px 0px; }

    .ves-megamenu .navigation .level0 .submenu .submenu-inner .content-wrapper .content-wrapper {padding: 0px; }

    .ves-megamenu.top-main-menu .navigation .level0.active  {background:#ffffff;  }

    .ves-megamenu.top-main-menu .navigation .level0:hover  {background:#ffffff;  }

    .ves-megamenu.top-main-menu .navigation .nav-item.level0.subhover>.submenu {box-shadow: -10px 5px 7px -6px rgb(0 0 0 / 15%)!important; }

    .navigation .level0 .submenu { min-width: 200px!important;}

    .kids-twin .item-sidebar.right-sidebar p img {float: left!important; width: 45%!important; margin-left: 5%!important;}

    .for-mobiles { display:none!important;}

    .amsearch-form-container.-large .amsearch-wrapper-content .price {font-size: 14px!important; font-weight: bold!important;}

    .amsearch-form-container.-opened:not(.-small) .amsearch-products { }

    .ves-megamenu.top-main-menu .navigation .nav-item.level1.subhover>.submenu {background-color: transparent;}

}



.for-mobiles { text-align: left!important }

.for-mobiles > a.nav-anchor { border: 0!important; margin-left: 20px!important; }

.for-mobiles > a.nav-anchor .item-icon.icon-left { margin-right: 10px!important; }

.account-main-column .block.block-wishlist {display: none;}



@media screen and (max-width:768px){

.block-search { width: 100%;}

.block-search .block-content {margin:0px;}

.minicart-wrapper .action.showcart > span.text {top: 1px!important;}

.block-search .block-content .field.search {width: 100%!important; padding: 30px 0px 24px 0px!important;}

.form.minisearch {  margin: 0 auto;}

.header-content-row .header-content-column.column-third {margin-top: -56px!important;}



.block-search { position: absolute; top: 10px; width: 100%; float: none;}

.block-search .block-content {margin-left: 0px!important; margin-right: 0px!important;}

.logo img {position: relative;  z-index: 20;  }

.usp-list li.firstly:after {content: ""; display: none;}

.container-usp-list.jbhSlider {margin: 0 auto;}

.minicart-wrapper .action.fme-quote-showcart .counter.qty {left: 6px!important;}

.ves-megamenu.top-main-menu.nav-mobile.ves-mdrilldown .navigation .drilldown-back { padding: 62px 0 0 0; background: #dbc7ae; }

.ves-megamenu.top-main-menu.nav-mobile.ves-mdrilldown .navigation .drilldown-back a .current-cat {font-family: 'aktiv_grotesk_exbold'; float: none!important;}

.view-alls { position: absolute; top: 18px; left: 40px; text-transform: none; font-size: 14px; color: #1d1d1d; font-family: 'Aktiv Grotesk';}

html.nav-open .header-content-row .column-second .nav-toggle:before { position: fixed!important; top: -7px!important; left: calc(100% - 113px)!important; background: transparent!important;}



}

.modals-overlay {

top: 90px !important;

}

@media screen and (max-width:767px){

.header .header-content-row {display: block!important; align-items: center;}

.block-search {opacity: 1!important; position: absolute!important; left: -55px!important; top: 21px!important; width: 100%!important; z-index:1!important;}



.block-search .block-content {top: 35px; margin:0; }

.logo img {margin: 10px auto; max-width: 50%;}



.nav-open .nav-toggle:after {display: none!important;}

.navigation a, .navigation a:hover {border-bottom: 2px solid #f0ede8!important;}



.ves-megamenu ul.ui-menu.ui-widget.ui-widget-content.ui-corner-all {

        padding: 48px 0 0 0;

        background: url(../images/top-menu-mobil.jpg) center top no-repeat;

    }

.navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon), .navigation .level0.has-active > a:not(.ui-state-active) span:not(.ui-menu-icon) {

     margin-left: 0px!important;

}



.ves-megamenu.top-main-menu.nav-mobile.ves-mdrilldown .navigation .level0 span.drill-opener:before {

    height: 8px;

    width: 8px;

    top: 20px;

    right: 20px;

    border: 0;

    border-top: 2px solid #000000;

    border-right: 2px solid #000000;

    transform: rotate(45deg);

    background: transparent;

    content: '';

    display: block;

    position: absolute;

}

.ves-megamenu .nav-item.active > a {

    background: unset!important;

    color: unset!important;

}



     .ves-megamenu .item-sidebar.right-sidebar { clear: both; text-align: center; padding-top: 20px; }



}







.homepage-top-promo .container .topbar-menu,.homepage-top-promo .container .usp-text{grid-row:1}

.homepage-top-promo .container .usp-text{text-align:center;grid-column:2; }



.homepage-top-promo .container .usp-text .customergroup-header{display:none}

.homepage-top-promo .container .usp-text .usp-list{margin:0; padding: 0;}

.homepage-top-promo .container .usp-text .usp-list li{display:inline-block; margin-bottom:0!important; letter-spacing: initial; line-height: 30px; font-family: 'Aktiv Grotesk', Arial, Helvetica, sans-serif;}

.homepage-top-promo .container .usp-text .usp-list li a{}

.homepage-top-promo .container .usp-text .usp-list li:after{content:"|";color:#fffefa;margin:0 20px}



.sucess-chimps {font-size: 26px; font-family: 'aktiv_grotesk_exbold'; padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-success.jpg) center top no-repeat; }

.error-chimps { padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-error.jpg) center top no-repeat; }

.error-chimps a {text-decoration: underline }



@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li:after{display:none}}

.homepage-top-promo .container .usp-text .usp-list li:last-of-type:after{display:none}

@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li{display:none}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0){display:block}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0):after{content:""}}

.homepage-top-promo .container .topbar-menu{grid-column:3;display:flex;align-items:center;margin-left:auto}

.homepage-top-promo .container .topbar-menu>a{ }

@media screen and (max-width:992px){.homepage-top-promo .container .topbar-menu>a{ }}

.homepage-top-promo .container .topbar-menu .icon-stores{width:13px;vertical-align:top;margin-right:4px}

.homepage-top-promo .container .topbar-menu .icon-stores svg path{stroke:#fff}

.homepage-top-promo .container .topbar-menu .topbar-link--locale,

.homepage-top-promo .container .topbar-menu .topbar-link--stores,

.homepage-top-promo .container .topbar-menu .topbar-link--welcome{display:none}

@media screen and (min-width:992px){.homepage-top-promo .container .topbar-menu .topbar-link--locale,.homepage-top-promo .container .topbar-menu .topbar-link--stores,.homepage-top-promo .container .topbar-menu .topbar-link--welcome{padding:0 8px;display:inline-block;vertical-align:top}}

.homepage-top-promo .container .topbar-menu .topbar-link--locale{background-size:auto 30%}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .locale__divider{display:inline-block;padding:0 7px}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask{display:inline-block;position:relative;top:-2px;margin-left:4px;width:23px;height:auto;overflow:hidden;vertical-align:middle}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-]{position:relative;top:4px;width:23px;height:20px}

.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-flag-global]{position:relative;top:0}

.homepage-top-promo .container a{color:#fffefa}



.minicart-wrapper .action.showcart .counter.qty,

.minicart-wrapper .action.fme-quote-showcart .counter.qty  { left: 9px!important; right: unset!important}

.sucess-chimps {font-size: 26px; font-family: 'aktiv_grotesk_exbold'; padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-success.jpg) center top no-repeat; }

.error-chimps { padding: 60px 0 0 0; margin-bottom: 0px; background: url(../images/icon-error.jpg) center top no-repeat; }

.error-chimps a {text-decoration: underline }



@media screen and (max-width:767px){

.header-content-row .header-content-column.column-second {  width: 20%; padding: 20px 0; }

.header-content-row .header-content-column.column-third { margin-top: -48px!important;  height: 31px; }

.minicart-wrapper .action.fme-quote-showcart:before {font-size: 48px;}

.minicart-wrapper .action.showcart > span.text { background: url(../images/ico-monpanier-litle.png); position: relative; background-position: 50% 40%;      background-repeat: no-repeat;}



.minicart-wrapper.fme-quote-cart-wrapper {margin-left: 0;  margin-right: -5px; }

.minicart-wrapper .action.showcart > span.text {padding: 3px 10px!important;}

.block-search .block-content {top: 37px!important;  margin:0;}

.minicart-wrapper .action.fme-quote-showcart .counter.qty {left: -1px!important; }

.minicart-wrapper .action.showcart .counter.qty {left: 5px!important;}

.minicart-wrapper {margin-left: 0px;}

.nav-toggle {margin-right: 0px!important;}

.header.content { z-index:999;}

html.nav-open .header-content-row .column-second .nav-toggle:before {right: 54px!important;}

.block-search .block-content {margin-left: 10px!important; margin-right: -55px!important;}

}

.amsearch-close { left: 0!important; right: unset!important;}

.mc-field-group.input-group ul li input {margin-left: 10px;}





.block-product-selection .product {text-align: right!important;}



@media screen and (max-width:545px){

.header-content-row .header-content-column.column-second {  width: 20%; padding: 20px 0; }

.header-content-row .header-content-column.column-third { margin-top: -43px!important;  height: 31px; }

.minicart-wrapper .action.fme-quote-showcart:before {font-size: 48px;}

.minicart-wrapper.fme-quote-cart-wrapper {margin-left: 0;  margin-right: -3px; }

.minicart-wrapper .action.showcart > span.text {padding: 3px 10px!important;}

.block-search .block-content {top: 33px!important;  margin:0;}

html[lang="ar"] .minicart-wrapper .action.showcart .counter.qty {padding-left: 0!important;}

.minicart-wrapper {margin-left: 0px; width: 30px!important;}

}





@media screen and (min-width: 1440px) {

    .container.p-0  {max-width: 1380px; margin: 0 auto;}

}





@media screen and (min-width: 768px) {

    .ves-megamenu .navigation .level0>a { text-transform: none!important;}

    .login-container .fieldset>.field>.control {max-width: 100%!important; }

    .image-gallery .image-gallery__item {width: 50%; float: left; }

    .image-gallery .image-gallery__item:nth-child(7n+3), .image-gallery .image-gallery__item:nth-child(7n+4), .image-gallery .image-gallery__item:nth-child(7n+7) {width: 100%!important;}

    .product-info-main .page-title-wrapper .page-title {line-height: 24px!important; font-family: 'aktiv_grotesk_exbold'!important; margin-top: 0!important; font-size: 20px!important;  text-align: right!important;}

    .page-layout-1column .product-info-main {}

    .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions { padding-top: 0!important;}

    .product.media {margin-bottom: 0px!important;}

	.amsearch-wrapper-content>.amsearch-item {float: left; width: 25%;}

    .control-search-input {max-width: 62%!important; margin: 0 auto;}

    .search-autocomplete {max-width: 100%!important; width: 100%!important;}

    .amsearch-results {max-width: 100%!important;}

    .block-search .block-content.active {max-height: 650px; overflow: auto;}

    .product-info-main {float: left!important;}

    .product.media {float: right!important; }

}

@media screen and (max-width: 767px) {

    .control-search-input {max-width: 90%!important; margin: 0 0 20px 20px;}

    .form .search-autocomplete {margin: 0!important; background: transparent!important; }

    .amsearch-results {max-width: 95%!important;}

    .amsearch-wrapper-content>.amsearch-item {float: left; width: 25%;}

    .block-search .block-content.active {padding: 0 20px!important;}

    .block-search .block-content.active {max-height: 400px; overflow: auto;}

}



@media screen and (max-width: 600px) {

    .amsearch-wrapper-content>.amsearch-item {float: left; width: 50%; }

}



.product-info-main {text-align: right!important;}



.search-autocomplete {max-width: 100%!important; width: 100%!important;}

.swatch-option { float: right!important;}

.product-info-main .product.data.items>.item.title [data-toggle="trigger"]:after {left: 15px!important; right: unset!important;}









.catalog-product-view .columns .column.main {padding-bottom: 0px;}

.product-items.slick-slider>.slick-list {padding: 0!important;}

.block, .sidebar .widget.block:not(:last-child), .sidebar .widget:not(:last-child), .block-banners, .block-banners-inline {

   /*  margin-bottom: 10px!important; */

}

.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {font-size: 14px!important;}

.swatch-attribute-selected-option {color: #282828!important; padding-left: 5px!important; font-weight: bold!important;}

.swatch-select.size {width: 100%; height: auto!important; padding: 20px; border: 1px solid #000;}

.product-info-main .swatch-attribute .swatch-attribute-label:after {content: ':';}



.minicart-wrapper .action.fme-quote-showcart .counter.qty .counter-number,

.minicart-wrapper .action.showcart .counter.qty .counter-number {width: 20px; display: block; text-align: center;}

.block .title strong {font-family: 'aktiv_grotesk_exbold', arial !important; font-size: 16px!important; text-transform: uppercase; letter-spacing: 0px;}

.products { margin: 0;}

.block-product-selection .product-items {margin-top: 0px!important;}

.block-product-selection.related .block-title {text-align: left;}

.block-product-selection .product-item .price-box .price {font-size: 14px!important; font-weight: 700!important; color: #1d1d1d;}

.block-product-selection .product { display: flex;    margin-top: 0!important;    justify-content: space-between;}

.block-product-selection .product { display: inline!important;}

.product-item-name>a, .product.name a>a { color: #1d1d1d;}

.product-info-main .description {display: none;}

.swatch-opt {margin: 40px 0 0px 0!important;}

/* .product-info-main .swatch-option {width: 28px!important; height: 28px!important; margin-top: 10px;} */

.product-info-main .swatch-attribute .swatch-attribute-label {text-transform: none!important;}

.product-options-wrapper .fieldset:last-child {margin-bottom: 0!important;}

.conteneur-size-guides {display: flex; justify-content: space-between; margin-top: -10px;}

.size-find-trigger p {text-decoration: underline; cursor: pointer; padding-left: 40px; background: url(../images/ico-size-find.png) no-repeat;}

.size-guide-trigger p {text-decoration: underline; cursor: pointer}



.product-info-main .product-addto-links { text-align: center; padding: 0px; width: 69px; margin: 0 15px 0 0!important; height: 56px; line-height: 60px; border: 1px solid #1d1d1d;}

.product-info-main .action.towishlist { margin-left: 0!important;}

.product-info-main .box-tocart .action.tocart {max-height: unset!important;}

ul.check-list {padding-top: 10px;}

ul.check-list>li { margin-bottom: 0px!important;}

.product-info-main .box-tocart {margin: 25px 0 0 0!important;}

ul.check-list.freedelivaka {padding-top: 10px; margin-bottom: 50px;}

/* .fixemoi {position: fixed!important; top: 0; right: 5%; background: #fff; z-index: 999; padding-top: 20px; padding-left: 20px; max-width: 500px;}

 .bottommoi {position: absolute!important; bottom: 0; right: 0; background: #fff; z-index: 999;} */

.product.data.items {margin-bottom: 0!important;}

.product-info-main .product.data.items>.item.title { cursor: pointer; color: #1d1d1d!important; font-weight: 700!important; letter-spacing: normal!important; border-top: 1px solid #f0ede8!important; padding: 15px 0 0 0!important; font-family: 'aktiv_grotesk_exbold', arial !important; font-size: 14px!important; }

.product-info-main .product.data.items>.item.title>.switch[data-toggle="trigger"] {width: 100%;}



.product.info.detailed.cms-accordion:nth-child(3) { border-top: 1px solid #f0ede8!important;}

.product.media {}



.catalog-product-view  .column.main { /* overflow: auto; */ position: relative;}

.action.tocompare {display: none!important}

.related.block-product-selection {max-width: 640px; padding-top: 20px;}

.slick-slide {vertical-align: top!important;}

.product-items .action.towishlist:before,

.products.list.items .action.towishlist:before,

.product-item-actions .actions-secondary>.action:before {font-size: 45px!important; margin-top: 17px!important;}



.breadcrumbs a { color: #000!important; font-family: 'Aktiv Grotesk!important'; font-size: 12px!important; font-weight: 400!important;  opacity: 0.5!important; text-transform: none!important; }

.catalog-product-view .breadcrumbs-items:before { opacity: 0.5;}

.breadcrumbs { margin: 20px auto!important;}

.related .products {margin: 2px 0!important;}

.block-product-selection .block-title {margin-top: 20px!important;}

.swatch-select.size:after {color:red!important}



/*.norote-subscribe-block .footer-links-holder, .footer .footer-links-holder {display:none!important;}*/


@media screen and (max-width: 1380px) {

    .page-wrapper>.page-bottom {
    max-width: 100%!important;
    }
}
